    <div id="marketing">
        <img id="phone" class="homepage-card" src="./images/hidden-gems.jpg" alt="Guy found a couple hidden gems">   
        <div id="info" class="homepage-card">
            <h2>What is Hidden Gems?</h2>
            <p>Hidden Gems is service that helps 
                users to experience their
                vacation as if they were a local.</p>
            <h2>How do we make this happen?</h2>
            <p>We use software similar to a GPS and
                combine it with the recommendations of 
                real people who live in the area.</p>
            <h2>How do I get started?</h2>
            <p id="login">You can log in by clicking the button below.</p>
            <button>signup</button>
        </div>
        <img id="drink" class="homepage-card" src="./images/drink.jpg" alt="Fun drink">       
    </div>