 <div class="make-post">
    <form class="post-form">
        <div class="text-enter">
            <label for="location">Post</label>
            <textarea type="text" id="post"></textarea>
            <button class="post-button" type="button">Post</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="./javascript/post.js"></script>