       <div class="post-page-content">
        <div class="search-bar">
            <form>
                <textarea></textarea>
                <button type="button">Search</button>
            </form>
        </div>
        {{#if restaurants }}
        <ul>
            {{log restaurants}}
            {{log 'I work!'}}
            {{#each restaurants as |restaurant|}}
                {{log restaurant}}
                {{> restaurant-single }}
            {{/each}}
        </ul>
        {{/if}}        
    </div>