       <div class="post-page-content">
        <div class="search-bar">
            <form>
                <textarea></textarea>
                <button type="button">Search</button>
            </form>
        </div>
        <ul>
            {{#each restaurants}}
            <li>
                <div id="restraunt">
                    <h2>{{restaurants.title}}</h2>
                    <h3>{{restaurants.rating}}</h3>
                    <h4>{{restaurants.address}}</h4>
                    <button type="button">reviews</button>
                </div>
            </li>
            {{/each}}
        </ul>        
    </div>