       <div class="post-page-content">
        <div class="search-bar">
            <form>
                <textarea></textarea>
                <button type="button">Search</button>
            </form>
        </div>
        <ul>
            <li>
                <div id="restraunt">
                    <h2>Red Robin</h2>
                    <button type="button"><a href="/reviews">reviews</a></button>
                </div>
            </li>
                        <li>
                <div id="restraunt">
                    <h2>Culver's</h2>
                    <button type="button">reviews</button>
                </div>
            </li>
                        <li>
                <div id="restraunt">
                    <h2>Applebee's</h2>
                    <button type="button">reviews</button>
                </div>
            </li>
        </ul>        
    </div>