<div class="restraunt-title">
</div>
<div class="bio-review">
  <div class="restraunt-bio">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum
      laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga
      praesentium optio, eaque rerum! Provident similique accusantium nemo
      autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto
      voluptate aliquam nihil, eveniet aliquid culpa officia aut! Impedit sit
      sunt quaerat, odit
    </p>
  </div>

  <ul class="user-reviews">
    <li>
      <div class="review">
        <h3></h3>
        <div>
          <ul id="restaurant-info">

          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>