body {
  background-color: #ffffff;
  margin: 0; }

.page-header {
  background-color: #cacaca;
  padding-top: 10px;
  width: 100%; }
  .page-header h1 {
    background-image: linear-gradient(to right, #1e6398, #1f1f20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 15px;
    font-size: 50px;
    text-decoration: underline #9b6c19;
    display: inline;
    margin-left: 10px; }
  .page-header button {
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 70px;
    background-color: #1f1f20;
    color: #cacaca;
    float: right;
    margin-right: 10px; }
    .page-header button a {
      color: #cacaca;
      text-decoration: none; }
  .page-header button:hover {
    background-color: #656D74; }
    .page-header button:hover a {
      color: #cacaca;
      text-decoration: none; }

#marketing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  margin-top: 35px; }

.homepage-card {
  margin: 3px; }

#phone {
  width: 500px;
  height: 650px;
  display: inline; }

#drink {
  width: 500px;
  height: 650px;
  display: inline; }

#info {
  background-color: #1f1f20;
  color: #cacaca;
  width: 500px;
  height: 650px;
  padding: 10px; }
  #info h2 {
    font-size: 40px; }
  #info p {
    font-size: 25px; }
  #info #login {
    margin-bottom: .001px; }
  #info button {
    margin: 2px;
    background-color: #737373;
    border: #000000 solid 2px;
    width: 95px;
    height: 50px; }
    #info button a {
      color: #cacaca;
      text-decoration: none; }
  #info button:hover {
    background-color: #656D74; }
    #info button:hover a {
      color: #cacaca;
      text-decoration: none; }

.login-signup-form {
  width: 500px;
  height: 650px;
  padding: 21px;
  text-align: center;
  background-color: #1f1f20;
  color: #cacaca;
  margin-top: 15px; }
  .login-signup-form input {
    width: 300px;
    height: 20px;
    margin-top: 15px; }
  .login-signup-form .button-space {
    margin-bottom: 15px; }
  .login-signup-form .login {
    margin-bottom: 25px; }
  .login-signup-form .sign-up {
    margin-bottom: 0; }
  .login-signup-form #secure-info {
    background-color: #cacaca;
    color: #1f1f20;
    margin-top: 3px;
    height: 320px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0; }
    .login-signup-form #secure-info p {
      font-size: 40px; }
    .login-signup-form #secure-info img {
      height: 175px; }
  .login-signup-form button {
    width: 100px;
    height: 30px;
    background-color: #cacaca; }
    .login-signup-form button a {
      color: #1f1f20;
      text-decoration: none; }
  .login-signup-form button:hover {
    background-color: #656D74; }
    .login-signup-form button:hover a {
      color: #cacaca;
      text-decoration: none; }

.post-page-content {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  flex-direction: row-reverse;
  flex-wrap: wrap; }
  .post-page-content ul {
    list-style-type: none; }

.search-bar {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  margin-left: 75px;
  display: block;
  width: 500px; }
  .search-bar textarea {
    width: 500px;
    resize: none;
    height: 30px; }
  .search-bar button {
    background-color: #1f1f20;
    color: #cacaca; }
  .search-bar button:hover {
    background-color: #cacaca;
    color: #1f1f20; }

#restraunt {
  background-image: linear-gradient(to right, #1e6398, #1f1f20);
  width: 500px;
  height: 100px;
  margin-top: 25px;
  margin-left: 15px; }
  #restraunt h2 {
    height: 30px;
    color: #cacaca;
    padding-left: 10px;
    display: inline; }
  #restraunt button {
    float: right;
    margin-top: 25px;
    margin-right: 15px;
    width: 150px;
    height: 50px; }
    #restraunt button a {
      color: #1f1f20;
      text-decoration: none; }
  #restraunt button:hover {
    background-color: #737373;
    color: #cacaca; }
    #restraunt button:hover a {
      color: #1f1f20;
      text-decoration: none; }

.restraunt-title {
  background-image: linear-gradient(to right, #1e6398, #1f1f20);
  width: 100%;
  height: 75px;
  text-align: center;
  color: #cacaca; }
  .restraunt-title h2 {
    font-size: 40px; }

.bio-review {
  display: flex;
  justify-content: space-between; }
  .bio-review .restraunt-bio {
    background-color: #1f1f20;
    width: 600px;
    height: 400px;
    margin-top: 25px;
    margin-left: 25px;
    text-align: center; }
    .bio-review .restraunt-bio p {
      background-color: #cacaca;
      color: #1f1f20;
      width: 550px;
      margin-left: 25px;
      margin-right: 0; }
  .bio-review .user-reviews li {
    list-style-type: none; }
  .bio-review .review {
    background-image: linear-gradient(to right, #1e6398, #1f1f20);
    width: 675px;
    height: 150px;
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    display: block; }
  .bio-review h3 {
    margin-left: 25px;
    color: #1f1f20; }
  .bio-review p {
    background-color: #cacaca;
    margin-left: 80px;
    margin-right: 108px;
    padding: 5px; }

.page-footer {
  background-color: #1e6398;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: auto;
  padding-bottom: px;
  width: 100%;
  position: fixed;
  bottom: 0; }
  .page-footer p {
    display: inline; }
  .page-footer a {
    text-decoration: none;
    color: white; }

/*# sourceMappingURL=style.css.map */
