$primaryColor: #fc192c;
$secondaryColor: #1e6398;
$thirdColor: #1f1f20;
$textColor: #cacaca;
$goldColor: #9b6c19;

body {
    background-color: #ffffff;
    margin: 0;
}

.page-header {
    background-color: $textColor;
    padding-top: 10px;
    width: 100%;
    h1 {
        background-image: linear-gradient(to right, $secondaryColor, $thirdColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;          
        padding-bottom: 15px;
        font-size: 50px;
        text-decoration: underline $goldColor;
        display: inline;
        margin-left: 10px;
    }
    button{
        width: 100px;
        height: 50px;
        margin-bottom: 10px;
        margin-left: 70px;
        background-color: $thirdColor;
        color: $textColor;
        float: right;
        margin-right: 10px;
    }
    button:hover{
        background-color: $textColor;
        color: $thirdColor;
    }
}

#marketing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 35px;
}

.homepage-card {
    margin: 3px;
}

#phone {
    width: 500px;
    height: 650px;
    display: inline;
}

#drink {
    width: 500px;
    height: 650px;
    display: inline;
}

#info {
    background-color: $thirdColor;
    color: $textColor;
    width: 477px;
    height: 630px;    
    padding: 10px;
    h2{
        font-size: 40px;
    }
    p{
        font-size: 25px;
    }
    #login {
        margin-bottom: .001px;
    } 
    button {
        margin: 2px;
        background-color: $secondaryColor;
        border: #000000 solid 2px;
        width: 95px;
        height: 50px;
    }
    button:hover {
        background-color: $goldColor;
    }
}

.login-signup-form{
    width: 500px;
    height: 650px;
    padding: 21px;
    text-align: center;
    background-color: $thirdColor;
    color: $textColor;
    margin-top: 10px;
    input{
        width: 300px;
        height: 20px;
        margin-top: 15px;
    }
    .button-space{
        margin-bottom: 15px;
    }
    .login{
        margin-bottom: 25px;
    }
    #secure-info{
        background-color: $textColor;
        color: $thirdColor;
        margin-top: 10px;
        height: 320px;
        width: 100%;;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        p{
            font-size: 40px;
        }
        img{
            height: 175px;
        }
    }
}

.page-footer {
    background-color: $secondaryColor;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: auto;
    padding-bottom: px;
    width: 100%;
    position: fixed;
    bottom: 0;
    p{
        display: inline;
    }
    a{
        text-decoration: none;
        color: white;
    }
}