$primaryColor: #fc192c;
$secondaryColor: #1e6398;
$thirdColor: #1f1f20;
$textColor: #cacaca;
$goldColor: #9b6c19;
$darkGrey: #656D74;
$darkWhite: #737373;
$Grey: #494949;

body {
    background-color: #ffffff;
    margin: 0;
}

.page-header {
    background-color: $textColor;
    padding-top: 10px;
    width: 100%;
    h1 {
        background-image: linear-gradient(to right, $secondaryColor, $thirdColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;          
        padding-bottom: 15px;
        font-size: 50px;
        text-decoration: underline $goldColor;
        display: inline;
        margin-left: 10px;
    }
    button{
        width: 100px;
        height: 50px;
        margin-bottom: 10px;
        margin-left: 70px;
        background-color: $thirdColor;
        color: $textColor;
        float: right;
        margin-right: 10px;
        a {
            color: $textColor;
            text-decoration: none;
        }
    }
    button:hover{
        background-color: $darkGrey;
        a{
            color: $textColor;
            text-decoration: none;
        }
    }
}

#marketing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 35px;
}

.homepage-card {
    margin: 3px;
}

#phone {
    width: 500px;
    height: 650px;
    display: inline;
}

#drink {
    width: 500px;
    height: 650px;
    display: inline;
}

#info {
    background-color: $thirdColor;
    color: $textColor;
    width: 500px;
    height: 650px;    
    padding: 10px;
    h2{
        font-size: 40px;
    }
    p{
        font-size: 25px;
    }
    #login {
        margin-bottom: .001px;
    } 
    button {
        margin: 2px;
        background-color: $darkWhite;
        border: #000000 solid 2px;
        width: 95px;
        height: 50px;
        a{
            color: $textColor;
            text-decoration: none;
        }
    }
    button:hover {
        background-color: $darkGrey;
        a{
            color: $textColor;
            text-decoration: none;
        }
    }
}

.login-signup-form{
    width: 500px;
    height: 650px;
    padding: 21px;
    text-align: center;
    background-color: $thirdColor;
    color: $textColor;
    margin-top: 15px;
    input{
        width: 300px;
        height: 20px;
        margin-top: 15px;
    }
    .button-space{
        margin-bottom: 15px;
    }
    .login{
        margin-bottom: 25px;
    }
    .sign-up{
        margin-bottom: 0;
    }
    #secure-info{
        background-color: $textColor;
        color: $thirdColor;
        margin-top: 3px;
        height: 320px;
        width: 100%;;
        text-align: center;
        position: relative;
        top: -30px;
        margin-left: 0;
        margin-right: 0;
        p{
            font-size: 40px;
        }
        img{
            height: 175px;
        }
    }
    button{
        width: 100px;
        height: 30px;
        background-color: $textColor;
        a{
            color: $thirdColor;
            text-decoration: none;
        }
    }
    button:hover{
        background-color: $darkGrey;
        a{
            color: $textColor;
            text-decoration: none;  
        }
    }
}

.search-bar{
    float: right;
    margin-right: 25px;
    margin-top: 25px;
    margin-left: 75px;
    display: block;
    width: 500px;
    textarea{
        width: 500px;
        resize: none;
        height: 30px;
    }
    button{
        background-color: $thirdColor;
        color: $textColor;
    }
    button:hover{
        background-color: $textColor;
        color: $thirdColor;
    }
}

#restraunt{
    background-image: linear-gradient(to right, $secondaryColor, $thirdColor);
    width: 500px;
    height: 100px;
    margin-top: 25px;
    margin-left: 15px;
    h2{
        height: 30px;
        color: $textColor;
        padding-left: 10px;
        display: inline;
    }
    button{
        float: right;
        margin-top: 25px;
        margin-right: 15px;
        width: 150px;
        height: 50px;
        a{
            color: $thirdColor;
            text-decoration: none;
        }
    }
    button:hover {
        background-color: $darkWhite;
        color: $textColor;
        a{
            color: $thirdColor;
            text-decoration: none;
        }
    }
}

.bio-review{
    display: flex;
    justify-content: space-between;
    .restraunt-bio{
        background-color: $thirdColor;
        width: 600px;
        height: 400px;
        margin-top: 25px;
        margin-left: 25px;
        text-align: center;
        p{
            background-color: $textColor;
            color: $thirdColor;
            width: 550px;
            margin-left: 25px;
            margin-right: 0;
        }
    }
    
    .user-reviews{
        li{
            list-style-type: none;
        }
    }

    .review{
        background-color: $secondaryColor;
        width: 675px;
        height: 150px;
        float: right;
        margin-right: 50px;
        margin-top: 25px;
        display: block;
    }
    h3{
        margin-left: 25px;
        color: $thirdColor;
    }
    p{
        background-color: $textColor;
        margin-left: 80px;
        margin-right: 108px;
        padding: 5px;
    }
}

.restaurant-list{
    li{
        list-style-type: none;
        width: 400px;
    }
}

.restaurant-card{
    background-color: $textColor;
    padding: 10px;
    margin-bottom: 15px;
    color: $thirdColor;
    border: 1px solid $darkWhite;
    border-radius: 7px;
    h5{
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p{
        font-size: 20px;
    }
    .rest-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.page-footer {
    background-color: $secondaryColor;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    p{
        display: inline;
        margin-left: 15px;
    }
    a{
        text-decoration: none;
        color: white;
    }
}

@media screen and (max-width: 570px) {
    .page-header{
        width: 100%;
        h1{
            font-size: 25px;
        }
        button{
            width: 57px;
            height: 27px;
            padding: 7px;
            margin-bottom: 3px;
        }
    }
    .restaurant-card{
        width: 260px;
        text-align: center;
    }
    .login-signup-form{
        margin-left: -80px;
        height:400px;
        text-align: center;
        .text-input{
            width: 200px;
        }
        #secure-info{
            position: relative;
            top: 20px;
            p{
                font-size: 20px;
            }
        }
    }
}